<div class="midgard5-item-basics-container">
    <div class="midgard5-item-basics-item1">{{localize "midgard5.item.quantity"}}<input name="data.quantity" type="text"
            value="{{data.quantity}}" data-dtype="Number" /></div>
    <div class="midgard5-item-basics-item1">{{localize "midgard5.item.value"}}<input name="data.value" type="text"
            value="{{data.value}}" data-dtype="value" /></div>
    <div class="midgard5-item-basics-item1">{{localize "midgard5.item.active"}}<input name="data.active" type="checkbox"
            {{checked data.active}} /></div>
    <div class="midgard5-item-basics-item1">{{localize "midgard5.item.ismagic"}}<input name="data.magic" type="checkbox"
            {{checked data.magic}} /></div>
    <div class="midgard5-item-basics-item1">{{localize "midgard5.item.abw"}}<input name="data.abw" type="text"
            value="{{data.abw}}" data-dtype="value" /></div>
    <div class="midgard5-item-basics-item1">{{localize "midgard5.item.weight"}}<input name="data.weight" type="text"
            value="{{data.weight}}" data-dtype="value" /></div>
    <div class="midgard5-item-basics-item1">{{localize "midgard5.item.container"}}<input name="data.container"
            type="text" value="{{data.container}}" data-dtype="value" /></div>

</div>