<div class="midgard5-item-mods-head">
    {{localize "midgard5.bonusauf"}}<br /><br />
</div>
<div class="midgard5-item-mods-container">
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.angB"}}<input name="data.mod.angB" type="number"
            value="{{data.mod.angB}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.schB"}}<input name="data.mod.schB" type="number"
            value="{{data.mod.schB}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.abwB"}}<input name="data.mod.abwB" type="number"
            value="{{data.mod.abwB}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.hRang"}}<input name="data.mod.hRang"
            type="number" value="{{data.mod.hRang}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.lpSchutz"}}<input name="data.mod.lpSchutz"
            type="number" value="{{data.mod.lpSchutz}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.apSchutz"}}<input name="data.mod.apSchutz"
            type="number" value="{{data.mod.apSchutz}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.resG"}}<input name="data.mod.resG" type="number"
            value="{{data.mod.resG}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.resK"}}<input name="data.mod.resk" type="number"
            value="{{data.mod.resK}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.lpMod"}}<input name="data.mod.lpMod"
            type="number" value="{{data.mod.lpMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.apMod"}}<input name="data.mod.apMod"
            type="number" value="{{data.mod.apMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.stMod"}}<input name="data.mod.stMod"
            type="number" value="{{data.mod.stMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.gwMod"}}<input name="data.mod.gwMod"
            type="number" value="{{data.mod.gwMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.gsMod"}}<input name="data.mod.gsMod"
            type="number" value="{{data.mod.gsMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.koMod"}}<input name="data.mod.koMod"
            type="number" value="{{data.mod.koMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.inMod"}}<input name="data.mod.inMod"
            type="number" value="{{data.mod.inMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.ztMod"}}<input name="data.mod.ztMod"
            type="number" value="{{data.mod.ztMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.auMod"}}<input name="data.mod.auMod"
            type="number" value="{{data.mod.auMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.paMod"}}<input name="data.mod.paMod"
            type="number" value="{{data.mod.paMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.wkMod"}}<input name="data.mod.wkMod"
            type="number" value="{{data.mod.wkMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.gitMod"}}<input name="data.mod.gitMod"
            type="number" value="{{data.mod.gitMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.bMod"}}<input name="data.mod.bMod" type="number"
            value="{{data.mod.bMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.gpMod"}}<input name="data.mod.gpMod"
            type="number" value="{{data.mod.gpMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.kawMod"}}<input name="data.mod.kawMod"
            type="number" value="{{data.mod.kawMod}}" data-dtype="Number" /></div>
    <div class="midgard5-item-mods-item2">{{localize "midgard5.itemMod.glMod"}}<input name="data.mod.glMod"
            type="number" value="{{data.mod.glMod}}" data-dtype="Number" /></div>
</div>